@use 'sass:math';

$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);
$primaryColor: #e2c81d;
$secondaryColor: #f0f0f0;
$infoColor: #28a4ba;
$warningColor: #f0ad4e;
$dangerColor: #d9534f;
$successColor: #5cb85c;
$lightColor: #f2f2f2;

