@use 'src/styles/vars';

.dateAndPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;

    &-scoreMax {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-label {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: vars.$primaryColor;
        }

        &-select {
            padding: .6em;
            margin-bottom: 2rem;
        }
    }

    &-calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &-button {
        margin-top: 2rem;
        text-decoration: none;
        font-size: 1.1rem;
        border: none;
        padding: 0.5em;
        background-color: vars.$primaryColor;
        color: vars.$lightColor;
        border-radius: 3px;

        &:hover {
            background-color: vars.$secondaryColor;
            border-radius: 3px;

        }

    }
    
    
    &-form {
        display: flex;
        justify-content: center;

        &-input {
            padding: .7em;
            font-size: 1.2em;
            border: 1px solid #ddd;
            border-radius: .3em;
            height: 3.5em;
            margin-top: 1em;
        
            &:focus {
              border-color: vars.$primaryColor;
        
              & + .field-label {
                color: vars.$primaryColor;
              }
            }
            
        }

        &-button {
            font-size: 1.2em;
            color: white;
            background-color: vars.$primaryColor;
            border-radius: .3em;
            border: 0;
            padding: 1em;
            margin-top: 1em;      
        }
    }

    &-list {
        margin-top: 2em;
        text-align: center;

        &-total {
            text-align: center;
            font-size: 1.2em;
        }

        &-player {
            margin-bottom: 1em;

            &-name {
                font-size: 1.2em;
                margin-right: 1em;
                font-weight: bold;
            }

            &-button {
                font-size: .7em;
                border-radius: .3em;
                border: 0;
                margin-right: .5em;
            }

            &-edit {
                display: flex;
                align-items: center;
                justify-content: center;
                &-input {
                    height: 2.5em;
                    width: 100%;
                    max-width: 400px;
    
                }
                &-button {
                    font-size: .9em;
                    color: white;
                    background-color: vars.$primaryColor;
                    border-radius: .3em;
                    border: 0;
                    padding: .6em;
                    margin-left: .5em;
                }
            }
            
        }
    }
}